</body>
<script>

    const plantList = document.querySelector("#post-succes")

    let checkurl = window.location.href;
    
    if(checkurl.includes('?posted=true')){
    
     plantList.scrollIntoView({behavior: 'smooth', top: '0'})
    
    }</script>

</html>