<!DOCTYPE html>

<html lang="EN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Plant swap</title>
    <meta name="visitekaartje" content="page to swap plants" />
    <meta name="Demi" content="SitePoint" />
    <link rel="stylesheet" href="./views/styles.css" />
  </head>
  <body>
    <img src="../assets/images/PlantSwap-logo-green.svg" alt="">
    <nav>
        <ul>
            <li>Beschikbare stekjes</li>
            <li>Meld je stekje aan</li>
            <li>Doneren</li>
        </ul>
    </nav>
</html>
