<!DOCTYPE html>

<html lang="EN">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Plant swap</title>
    <meta name="visitekaartje" content="page to swap plants" />
    <meta name="Demi" content="SitePoint" />
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    
    <nav>
        <ul class="navigation">
          <a href="/"><img src="../assets/PlantSwap-logo-green.svg" alt="Plant swap logo"></a>
            <li><a href="#stekjes" >Beschikbare stekjes</a></li>
            <li> <a href="/create-stekje" >Ruilen</a></li>
            <li>Doneren</li>
            
   
        </ul>
    </nav>
</html>
