
*{
    box-sizing: border-box;
}
img{
    width: 100px;
    height: 100px;
}
:root{
    /* font sizes */
 --phone-font-small: 1.2rem;
 --phone-font-betweenium: 2rem;
 --phone-font-medium: 3rem;
 --phone-font-huge: 5rem;
--desktop-font-small: 2rem;
 /* colors */
 --color-black: black;
}

body{
    overflow-x: hidden;
/* nav styling */
}
.navigation{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    font-size: var(--phone-font-small);
    
    
}

li > a{
    text-decoration: none;
    color: var(--color-black);
}
/* end of nav styling */

h1 {
    position: relative;
    text-align: center;
    font-size: var(--phone-font-huge);
    margin-bottom: 10rem;
}

.split-background{
    display: flex;
    justify-content: space-around;
    font-size: var(--phone-font-medium);
    height: 30vh;
}

.instruction-button{
    display: flex;
    justify-content: center;
    margin: 5rem auto;
}

.instruction-button > button{
    font-size: var(--phone-font-betweenium);
}

/* eind homepage styling */

/* start instructie styling */

.plant-instruction{
   
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    width: 25rem;
    margin: 5rem auto;
    
}

.plant-instruction > h2, ol{
    left: 2rem;
    position: relative;
    font-size: var(--phone-font-small);
}

ol{
    margin: 0;
    padding: 0;
}
.plant-instruction > h2 {
    font-size: var(--phone-font-medium);
}


/* start kaartjes styling */

/* succes message styling */
.succes-container{
    width: 20rem;
    margin: auto;
}

#post-succes{
    font-size: var(--phone-font-betweenium);
    text-align: center;
    margin: 1rem;
    border: 1px solid black;
    width: 100%;
}

/* .plant-card-title{
    position: relative;
    font-size: 45px;
    text-align: center;
    margin: 0;
    padding: 0;
}
.plant-container{
   height: 200vh;
    display: flex;
    padding: 0 4em;
    flex-wrap: wrap;
    top: 80rem;
    position: relative;
    justify-content: space-around;
    gap: 50px;
    background-color: var(--background-color-green);

  }
  .plant-box {
    top: 5%;
    position: relative;
    height: 35rem;
    width: 100%;
    max-width: 20rem;
    cursor: pointer;
  }
  .plant-card {
    transform-style: preserve-3d;
    height: 100%;
    width: 100%;
    transition: 1s ease;
  }
  .front,
  .back {
    height: 100%;
    width: 100%;
    
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 0.4em;
    position: absolute;
    
    backface-visibility: hidden;
   
  }
  .front {
    background: linear-gradient(to right, #b87613, #794707);
  }
  
  .content {
    transform: translateZ(60px);
    font-size: large;
  }

  .back {
    background-color: var(--background-color-blue);
    transform: rotateY(180deg);
  }
  .plant-container:hover .plant-card {
    transform: rotateY(180deg);
  }
.dot{
    background-color: var(--background-color-green);
    width: 25px;
    height: 25px;
    border-radius: 50px;
    z-index: 1;
    position: absolute;
    top: .2rem;
} */
/* backup css kaartje */
.plant-container{
background-color: transparent;
border: 1px solid black;
perspective: 1000px;
position: relative;
display: flex;
flex-direction: row;
justify-content: space-around;
}

.plant-card{
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform .8s;
    transform-style: preserve-3d;
}

.plant-container:hover .plant-card{
    transform: rotateY(180deg);

}

.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.front{
    background-color: red;
}
.back{
    transform: rotateY(180deg);
    background-color: blue;
}

/* FORM STYLING */
form {
    width: 50vw;
    margin: auto;
    margin-top: 1vh;
    margin-bottom: 5vh;
    font-size: var(--phone-font-small);
  }
  
legend{
    font-size: var(--phone-font-betweenium);
}
  
  fieldset {
    padding: 1rem;
  }
  
  label {
    margin: 1rem 0 0.2rem;
    display: block;
    
  }
  
  
 
  
  input[type='text'] {
    width: 100%;
    height: 3em;
    font-size: var(--phone-font-small);
  }

  input[type='text']:focus {
    background-color: aliceblue;
  }
  
  input[type='submit'] {
   width: 100%;
    transition: 0.25s;
  margin-top: 1rem;
    font-size: var(--phone-font-small);
  }
  
  input[type='submit']:hover {
    transform: scale(1.05);
  }
  
  input[type='submit']:focus {
    transform: scale(1.05);
  }
  /* ERROR MESSAGE STYLINg */

  .error-message{
    border: 1px solid black;
    padding: 1em;
  }

  /* START MEDIA QUERY */

  @media (min-width: 1000px) {
    .navigation{
        margin-right: 3rem;
    }
    a > img{
        width: 200px;
        height: auto;
    }
  }